*{
	margin: 0;
	padding: 0;
	font-size: 14px;
	font-family: "Times New Roman", Times, serif;
}

.body-grid{
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 100px 50px auto 100px;
	grid-template-areas: "header header header" "nav nav nav" "main main main" "footer footer footer";
	display: grid;
}

.list-grid{
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: auto;
	grid-template-areas: "li li li";
	display: grid;
	background-color: #524e4e;
	border: 4px solid #000000;
	margin: 20px;
	background-image: linear-gradient(#ffffff, #524e4e, #ffffff);
	border-radius: 25px;
}

.main-grid{
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr 1fr;
	display: grid;
}

.footer-grid{
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 100px;
	display: grid;
	align-items: center;
	position: fixed;
	left: 0; 
	bottom: 0; 
	width: 100%;
	background-color: #524e4e;
	color: #ffffff;
}

.titel{
	font-size: 25px;
	padding: 20px;
}

.titel2{
	font-size: 20px;
	text-decoration: underline;
}

.bild4{
	text-align: center;
	grid-column-start: 2;
	grid-row-start: 2;
}

.text3{
	text-align: center;
	grid-column-start: 2;
	grid-row-start: 2;
}

.text4{
	text-align: center;
	grid-column-start: 2;
	grid-row-start: 1;
	padding: 40px;
}

.tabell{
	padding: 30px;
	margin-left: 10px;
}

header{
	grid-area: header;
	text-align: center;
}

nav{
	grid-area: nav;
	position: fixed;
	top: 80px;
	right: 100px;
	left: 100px;
}

main{
	grid-area: main;
}

footer{
	grid-area: footer;
}

ul{
	list-style-type: none;
}

ul li{
	text-align: center;
}

ul li a{
	text-decoration: none;
	color: white;
	display: block;
}

 ul li a:hover{
	background-color: #5b83ab;
}

footer p{
	text-align: center;
}

footer a{
	text-decoration: none;
	text-align: center;
	color: #ffffff;
}

footer a:hover{
	color: #5b83ab;
}

table, th, td{
	border: 1px solid black;
	border-collapse: collapse;
	grid-column-start: 1;
}

th{
	background-color: #f1f4ff;
}

td{
	width: 500px;
}

tr:nth-child(even){
	background-color: #C0C0C0;
}

tr:nth-child(odd){
	background-color: #f1f4ff;
}

tr:hover td{
	background-image: linear-gradient(to right, #30D5C8, #c5ae91, #30D5C8)
}

a{
	text-decoration: none;
	color: #000000;
}

a:hover{
	color: #5b83ab;
}
 	

