
*{
	margin: 0;
	padding: 0;
	font-size: 14px;
	font-family: "Times New Roman", Times, serif;
}

.body-grid{
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 100px 50px auto 100px;
	grid-template-areas: "header header header" "nav nav nav" "main main main" "footer footer footer";
	display: grid;
}

.list-grid{
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: auto;
	grid-template-areas: "li li li";
	display: grid;
	background-color: #524e4e;
	float: middle;
	border: 4px solid #000000;
	margin: 20px;
	background-image: linear-gradient(#ffffff, #524e4e, #ffffff);
	border-radius: 25px;
}

.main-grid{
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr 1fr;
	display: grid;
}

.footer-grid{
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 100px;
	display: grid;
	align-items: center;
	position: fixed;
	left: 0; 
	bottom: 0; 
	width: 100%;
	background-color: #524e4e;
	color: #ffffff;
}

.titel3{
	font-size: 25px;
	padding: 20px;
}

.bild3{
	text-align: center;
	grid-column-start: 2;
	grid-row-start: 2;
}
.text3{
	text-align: center;
	grid-column-start: 2;
	grid-row-start: 1;
	padding: 40px;
}

header{
	grid-area: header;
	text-align: center;
}

nav{
	grid-area: nav;
}

main{
	grid-area: main;
}

footer{
	grid-area: footer;
}

ul{
	list-style-type: none;
}

ul li{
	text-align: center;
}

ul li a{
	text-decoration: none;
	color: white;
	display: block;
}

 ul li a:hover{
	background-color: #5b83ab;
}

footer p{
	text-align: center;
}

footer a{
	text-decoration: none;
	text-align: center;
	color: #ffffff;
}

footer a:hover{
	color: #5b83ab;
}




 
 
 
	
	

